<form [formGroup]="createCourseForm" novalidate>
    <mat-card>
        <mat-card-title>
            <mat-icon>assignment</mat-icon>Create Course
        </mat-card-title>
        <mat-card-subtitle>Enter new course details.</mat-card-subtitle>
        <mat-card-content>

            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Course name</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Years</mat-label>
                        <mat-select aria-label="select educational level">
                            <mat-option value="Phd">4 Months</mat-option>
                            <mat-option value="Masters">6 Months</mat-option>
                            <mat-option value="Bachelors">1</mat-option>
                            <mat-option value="Bachelors">2</mat-option>
                            <mat-option value="Bachelors">3</mat-option>
                            <mat-option value="Bachelors">4</mat-option>
                            <mat-option value="Bachelors">5</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Course type</mat-label>
                        <mat-select aria-label="select course type">
                            <mat-option value="1">Full time</mat-option>
                            <mat-option value="2">Part time</mat-option>

                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

        </mat-card-content>
    </mat-card><br>

    <mat-card>
        <mat-card-subtitle>Select Course Modules</mat-card-subtitle>
        <mat-card-content>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- Checkbox Column -->
                <!-- <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container> -->

                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Subject Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="instructor">
                    <th mat-header-cell *matHeaderCellDef> Instructor </th>
                    <td mat-cell *matCellDef="let element"> {{element.instructor}} </td>
                </ng-container>


                <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selection.toggle(row)">
                </tr> -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    [ngClass]="{highlighted: selection.isSelected(row)}" (click)="selectRow(row)">
                </tr>
            </table>
        </mat-card-content>
    </mat-card><br>

    <!-- <mat-card>
        <mat-card-subtitle>Course years</mat-card-subtitle>
        <mat-card-content>
            <div formArrayName="courseYearsList">
                <div *ngFor="let education of courseYearsList.controls; let eduIndex=index" style="margin-top: 20px;">
                    <h4><b>Year {{eduIndex+1}}</b></h4>
                    <div [formGroupName]="eduIndex">
                        <div class="row">
                            <div class="col-md-2">
                                <mat-form-field appearance="fill">
                                    <mat-label>Education Level</mat-label>
                                    <mat-select disableRipple id="{{ 'educationalLevel' + eduIndex }}"
                                        formControlName="educationalLevel" aria-label="select educational level">
                                        <mat-option value="Phd">Phd</mat-option>
                                        <mat-option value="Masters">Masters</mat-option>
                                        <mat-option value="Bachelors">Bachelors</mat-option>
                                        <mat-option value="Bachelors">Diploma</mat-option>
                                        <mat-option value="Bachelors">Certification</mat-option>
                                        <mat-option value="Bachelors">Primary</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Institution/School</mat-label>
                                    <input matInput formControlName="eduInstituteName"
                                        aria-label="enter institute name">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                                <mat-form-field color="accent" class="example-full-width" appearance="fill">

                                    <mat-label>From</mat-label>
                                    <input matInput type="number" formControlName="eduFromYear">

                                </mat-form-field>
                            </div>
                            <div class="col-md-3 col-sm-12">

                                <mat-form-field color="accent" class="example-full-width" appearance="fill">

                                    <mat-label>To</mat-label>
                                    <input matInput type="number" formControlName="eduToYear">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Subject</mat-label>
                                    <input matInput formControlName="subject">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Grade</mat-label>
                                    <input matInput formControlName="eduGrade">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2" *ngIf="eduIndex>0">
                                <button mat-mini-fab color="basic" aria-label="Example icon button with a home icon"
                                    (click)="removeEducation(eduIndex)">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon">
                                        remove_circle_outine
                                    </mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </div>
                <br>
                <div class="col-md-1">
                    <button mat-raised-button color="basic" (click)="addEducation()">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">
                            add_circle</mat-icon>
                        Add Year
                    </button>
                </div>
            </div>

        </mat-card-content>
    </mat-card><br> -->
    <mat-card>

        <mat-card-subtitle>Course Information</mat-card-subtitle>
        <mat-card-content>

            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Start Date</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>End Date</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Lecture Dates</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Lecture Time</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Seats</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Medium</mat-label>
                        <mat-select aria-label="select educational level">
                            <mat-option value="Phd">English</mat-option>
                            <mat-option value="Masters">Sinhala</mat-option>
                            <mat-option value="Bachelors">Chinese</mat-option>
                            <mat-option value="Bachelors">Japanese</mat-option>
                            <mat-option value="Bachelors">Hindi</mat-option>
                            <mat-option value="Bachelors">Korean</mat-option>
                            <mat-option value="Bachelors">Russian</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Description</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
    </mat-card><br>

    <mat-card>
        <mat-card-subtitle>Course Fee</mat-card-subtitle>
        <mat-card-content>
            <div formArrayName="courseYearsList">
                <div *ngFor="let education of courseYearsList.controls; let eduIndex=index" style="margin-top: 20px;">
                    <h4><b>Year {{eduIndex+1}}</b></h4>
                    <div [formGroupName]="eduIndex">
                        <div class="row">
                            <div class="col-md-2">
                                <mat-form-field appearance="fill">
                                    <mat-label>Year</mat-label>
                                    <mat-select disableRipple id="{{ 'educationalLevel' + eduIndex }}"
                                        formControlName="year" aria-label="select educational level">
                                        <mat-option value="Phd">1</mat-option>
                                        <mat-option value="Masters">2</mat-option>
                                        <mat-option value="Bachelors">3</mat-option>
                                        <mat-option value="Bachelors">4</mat-option>
                                        <mat-option value="Bachelors">Certification</mat-option>
                                        <mat-option value="Bachelors">Primary</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Fee</mat-label>
                                    <input matInput formControlName="fee" aria-label="enter institute name">
                                </mat-form-field>
                            </div>

                            <div class="col-md-2 col-sm-12">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Choose a date</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="dueDate">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-md-2" *ngIf="eduIndex>0">
                                <button mat-mini-fab color="basic" aria-label="Example icon button with a home icon"
                                    (click)="removeEducation(eduIndex)">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon">
                                        remove_circle_outine
                                    </mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </div>
                <br>
                <div class="col-md-1">
                    <button mat-raised-button color="basic" (click)="addEducation()">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">
                            add_circle</mat-icon>
                        Add Year
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</form>
<!-- {{this.createCourseForm.value | json}} -->