<!-- <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8"> -->
<div class="mat-sidenav">
    <img class="avatar mat-elevation-z8" src="../../../../assets/me2.jpeg" />

    <h4 class="name">Welcome back!</h4>
    <p class="designation">Esoft Metro Campus</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/lg/dashboard">
        <mat-icon>book</mat-icon>
        <span>Dashboard</span>
    </button>
    <button mat-button class="menu-button" routerLink="/lg/cp_dashboard">
        <mat-icon>person</mat-icon>
        <span>CP Dashboard</span>
    </button>
    <button mat-button class="menu-button" routerLink="/lg/cp_verify_application">
        <mat-icon>supervised_user_circle</mat-icon>
        <span>Verify CPA</span>
    </button>
    <button mat-button class="menu-button" routerLink="/lg/cp_verify_payment">
        <mat-icon>description</mat-icon>
        <span>Verify CPP</span>
    </button>
    <button mat-button class="menu-button" routerLink="/lg/student_forum">
        <mat-icon>edit</mat-icon>
        <span>Forum</span>
    </button>
    <button mat-button class="menu-button" routerLink="/lg/school_registration">
        <mat-icon>vpn_key</mat-icon>
        <span>School Registration</span>
    </button>

    <button mat-button class="menu-button" routerLink="/lg/student_registration">
        <mat-icon>vpn_key</mat-icon>
        <span>Student Registration</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/lg/signIn">
        <mat-icon>help</mat-icon>
        <span>Sign In</span>
    </button>
    <button mat-button class="menu-button" routerLink="/js/signUp">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
    </button>
    <!-- </mat-sidenav> -->
</div>