<div>
    <mat-toolbar class="mat-elevation-z8">
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
            <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
            <img src="../../../assets/logo.png" style="width: 135px;height:40px;">
        </button>
        <div class="row">
            <div class="col-md-4">
                <br>
                <img src="../../../assets/logo.png" style="width: 190px;height:45px;padding-left: 100%;">

            </div>
        </div>
    </mat-toolbar>

    <!-- <mat-sidenav-container style="background: linear-gradient(to bottom, #f6d8d8 10%,#f6d8d8 10%,rgba(0,0,0,0) 10%);"> -->
    <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
            <img class="avatar mat-elevation-z8" src="../../../assets/me2.jpeg" />

            <h4 class="name">Welcome back!</h4>
            <p class="designation">Esoft Metro Campus</p>

            <mat-divider></mat-divider>

            <button mat-button class="menu-button" routerLink="/js/home">
                <mat-icon>book</mat-icon>
                <span>Create Resume</span>
            </button>
            <button mat-button class="menu-button" routerLink="/js/signIn">
                <mat-icon>person</mat-icon>
                <span>Sign In</span>
            </button>
            <button mat-button class="menu-button" routerLink="/js">
                <mat-icon>supervised_user_circle</mat-icon>
                <span>Search</span>
            </button>
            <button mat-button class="menu-button" routerLink="/js/profile/29">
                <mat-icon>description</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-button class="menu-button" routerLink="/js/profile_edit/29">
                <mat-icon>edit</mat-icon>
                <span>Edit Profile</span>
            </button>
            <button mat-button class="menu-button" routerLink="/js/user_access">
                <mat-icon>vpn_key</mat-icon>
                <span>User Access</span>
            </button>

            <mat-divider></mat-divider>

            <button mat-button class="menu-button" routerLink="/js/help">
                <mat-icon>help</mat-icon>
                <span>Help</span>
            </button>
            <button mat-button class="menu-button" routerLink="/js/logout">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8" style="background-color: rgb(248, 248, 248);">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>