mat-form-field {
    width: 100%;
}

table {
    width: 100%;
}

td,
th {
    width: 25%;
}

// button {
//     margin-top: 25px;
// }
.search-btn {
    background-color: #049179;
}

.verify-btn {
    background-color: #04915b;
    font-weight: 100;
}

.reject-btn {
    background-color: #be510d;
    font-weight: 100;
    margin-left: 10px;
}