<div class="content">
    <mat-card class="example-card">
        <mat-card-title>
            <mat-icon>how_to_reg</mat-icon> Verify Applications
        </mat-card-title>
        <mat-card-subtitle>Check and verify the student qualifications for the enrollment process.</mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="verifyApplicationsForm" novalidate>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Course</mat-label>
                            <mat-select formControlName="courseId">
                                <mat-option>-- None --</mat-option>
                                <!-- <mat-optgroup *ngFor="let group of courseList" [label]="group.name"
                                    [disabled]="group.disabled"> -->
                                <mat-option *ngFor="let course of courseList" [value]="course.id">
                                    {{course.title}}
                                </mat-option>
                                <!-- </mat-optgroup> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Branch</mat-label>
                            <mat-select formControlName="branchId">
                                <mat-option *ngFor="let branch of branchList" [value]="branch.id">
                                    {{branch.branchName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <button class="search-btn" mat-raised-button color="primary" (click)="loadNewStudents()">Show
                            Students</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-3">
                    <h5 style="text-transform: uppercase;">Applications List</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field appearance="standard">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                    </mat-form-field>

                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>

                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                <td mat-cell *matCellDef="let row"> {{row.tempStudentId}} </td>
                            </ng-container>

                            <!-- Progress Column -->
                            <ng-container matColumnDef="full_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Full name </th>
                                <td mat-cell *matCellDef="let row"> {{row.fullName}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                            </ng-container>

                            <!-- Fruit Column -->
                            <ng-container matColumnDef="telephone">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Telephone </th>
                                <td mat-cell *matCellDef="let row"> {{row.telephone}} </td>
                            </ng-container>

                            <ng-container matColumnDef="verify">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Verify </th>
                                <td mat-cell *matCellDef="let row"> <button class="verify-btn" mat-raised-button
                                        color="primary" (click)="openDialog(row)">Verify</button> </td>
                            </ng-container>

                            <ng-container matColumnDef="reject">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Reject </th>
                                <td mat-cell *matCellDef="let row"> <button class="reject-btn" mat-raised-button
                                        color="primary">Reject</button> </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4" *ngIf="!noStu">No data matching the filter "{{input.value}}"</td>
                                <td class="mat-cell" colspan="4" *ngIf="noStu">{{noStudents}}</td>
                            </tr>
                            
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
                        </mat-paginator>
                    </div>

                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <!-- <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
        </mat-card-actions>
    </mat-card>
    <pre>{{verifyApplicationsForm.value | json}}</pre>
</div>