<div>
    <div class="row">
        <div class="col-md-1 col-sm-0 login-context-left"></div>

        <div class="col-md-10 col-sm-12 col-xs-12 login-context-right"><br>
            <form [formGroup]="courseProviderDetailsForm" novalidate>
                <mat-card>
                    <mat-card-title>School Registration</mat-card-title>
                    <mat-card-subtitle>Register your school with LearnGenix to get massive learning experience.
                    </mat-card-subtitle>
                    <mat-stepper #stepper>
                        <mat-step errorMessage="Personal details are required.">

                            <ng-template matStepLabel>Personal Details</ng-template>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Full Name</mat-label>
                                        <input matInput placeholder="Last name, First name" formControlName="fullName"
                                            required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="Last name, First name"
                                            formControlName="personalEmail" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Address Line 1</mat-label>
                                        <input matInput placeholder="Last name, First name"
                                            formControlName="addressLine1" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Address Line 2</mat-label>
                                        <input matInput placeholder="Last name, First name"
                                            formControlName="addressLine2" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field appearance="fill">
                                        <mat-label>City</mat-label>
                                        <input matInput placeholder="Last name, First name"
                                            formControlName="addressLine3" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Postal Code</mat-label>
                                        <input matInput placeholder="Last name, First name" formControlName="postalCode"
                                            required>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>NIC/Passport</mat-label>
                                        <input matInput placeholder="Last name, First name" formControlName="nic"
                                            required>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Nationality</mat-label>
                                        <input matInput placeholder="Last name, First name"
                                            formControlName="nationality" required>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div>

                                <button mat-raised-button matStepperNext>Next</button>
                            </div>
                            <!-- </form> -->
                        </mat-step>
                        <mat-step errorMessage="School is required.">
                            <!-- <form [formGroup]="secondFormGroup"> -->
                            <ng-template matStepLabel>School/Institution</ng-template>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field appearance="fill">
                                        <mat-label>School Name</mat-label>
                                        <input matInput placeholder="Last name, First name" formControlName="schoolName"
                                            required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Reg. No</mat-label>
                                        <input matInput placeholder="Last name, First name"
                                            formControlName="registrationNo" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Website/Email</mat-label>
                                        <input matInput placeholder="Last name, First name"
                                            formControlName="schoolWebsite" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Telephone</mat-label>
                                        <input matInput placeholder="Last name, First name"
                                            formControlName="telephone1">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Mobile</mat-label>
                                        <input matInput placeholder="Last name, First name"
                                            formControlName="telephone2">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Description</mat-label>
                                        <textarea matInput placeholder="Last name, First name"
                                            formControlName="description">
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Comment</mat-label>
                                        <textarea matInput></textarea>

                                    </mat-form-field>
                                </div>
                            </div> -->
                            <div>
                                <button mat-raised-button matStepperPrevious>Back</button><span style="color: white;"> |
                                </span>
                                <button mat-raised-button matStepperNext>Next</button>
                            </div>

                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>Pricing</ng-template>
                            <div class="row snip1214">

                                <div class="col-md-4 plan">
                                    <h3 class="plan-title">
                                        Bronze
                                    </h3>
                                    <div class="plan-cost"><span class="plan-price">$29</span><span class="plan-type">/
                                            Monthly</span></div>
                                    <ul class="plan-features">
                                        <li><i class="ion-checkmark"> </i>Student Regsitration</li>
                                        <li><i class="ion-checkmark"> </i>Enrollment</li>
                                        <li><i class="ion-checkmark"> </i>Student Forum</li>
                                        <li><i class="ion-checkmark"> </i>Progress Reports</li>
                                        <li><i class="ion-checkmark"> </i>24/7 Tech Support</li>
                                        <li><i class="ion-checkmark"> </i>Daily Backups</li>
                                    </ul>
                                    <div class="plan-select"><a (click)="makePayment(29, 1)">Select Plan</a></div>
                                </div>
                                <div class="col-md-4 plan featured">
                                    <h3 class="plan-title">
                                        Silver
                                    </h3>
                                    <div class="plan-cost"><span class="plan-price">$49</span><span class="plan-type">/
                                            Monthly</span></div>
                                    <ul class="plan-features">
                                        <li><i class="ion-checkmark"> </i>Student Regsitration</li>
                                        <li><i class="ion-checkmark"> </i>Enrollment</li>
                                        <li><i class="ion-checkmark"> </i>Student Forum</li>
                                        <li><i class="ion-checkmark"> </i>Progress Reports</li>
                                        <li><i class="ion-checkmark"> </i>24/7 Tech Support</li>
                                        <li><i class="ion-checkmark"> </i>Recruiter</li>
                                    </ul>
                                    <div class="plan-select"><a (click)="makePayment(49, 2)">Select Plan</a></div>
                                </div>
                                <div class="col-md-4 plan">
                                    <h3 class="plan-title">
                                        Gold
                                    </h3>
                                    <div class="plan-cost"><span class="plan-price">$99</span><span class="plan-type">/
                                            Monthly</span></div>
                                    <ul class="plan-features">
                                        <li><i class="ion-checkmark"> </i>Student Regsitration</li>
                                        <li><i class="ion-checkmark"> </i>Enrollment</li>
                                        <li><i class="ion-checkmark"> </i>Student Forum</li>
                                        <li><i class="ion-checkmark"> </i>Progress Reports</li>
                                        <li><i class="ion-checkmark"> </i>24/7 Tech Support</li>
                                        <li><i class="ion-checkmark"> </i>Recruiter | Job Seeker</li>
                                    </ul>
                                    <div class="plan-select"><a (click)="makePayment(99, 3)">Select Plan</a></div>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <button mat-raised-button matStepperPrevious>Back</button><span style="color: white;"> |
                                </span>
                                <button mat-raised-button (click)="stepper.reset()">Reset</button>
                            </div> -->
                            <div>
                                <button mat-raised-button matStepperPrevious>Back</button><span style="color: white;"> |
                                </span>
                                <!-- <button mat-raised-button matStepperNext>Next</button> -->
                            </div>

                        </mat-step>

                        <!-- <mat-step>
                            <ng-template matStepLabel>Payment</ng-template>
                            <div class="row snip1214">
                                <mat-form-field appearance="fill">
                                    <mat-label>Card numbr</mat-label>
                                    <input matInput placeholder="Last name, First name"
                                        formControlName="cardNumber">
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Exp</mat-label>
                                    <input matInput placeholder="Last name, First name"
                                        formControlName="expMonth">
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Exp year</mat-label>
                                    <input matInput placeholder="Last name, First name"
                                        formControlName="expYear">
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>CVC</mat-label>
                                    <input matInput placeholder="Last name, First name"
                                        formControlName="cvc">
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>paymentEmail</mat-label>
                                    <input matInput placeholder="Last name, First name"
                                        formControlName="paymentEmail">
                                </mat-form-field>


                                <mat-form-field appearance="fill">
                                    <mat-label>Amount</mat-label>
                                    <input matInput placeholder="Last name, First name"
                                        formControlName="paidAmount">
                                </mat-form-field>
                                
                            </div>
                            <div class="row">
                                <button mat-raised-button matStepperPrevious>Back</button><span style="color: white;"> |
                                </span>
                                <button mat-raised-button (click)="makePaymentAndSave()">Reset</button>
                            </div>


                        </mat-step> -->
                    </mat-stepper>
                </mat-card>
            </form>
        </div>
    </div>
    <pre>{{courseProviderDetailsForm.value | json}}</pre>
</div>